*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    background-image: url(../images/bg-2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
}

.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    padding: 100px 0;
    padding-left: 40%;
}

.header__description {
    margin: 0 auto;
    text-align: center;
}

.header__title {
    font-size: 56px;
    line-height: 70px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.header__text {
    font-size: 34px;
    line-height: 46px;
    margin-bottom: 20px;
}

.header__content {
    margin: 0 auto;
}

.header__form-content {
    margin-bottom: 30px;
}

.header__form-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__form-input {
    height: 40px;
    width: 400px;
    outline: none;
    padding: 7px 10px 7px 20px;
    resize: none;
    margin-left: 40px;
}

.header__form-btn {
    padding: 7px 15px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s;
}

.header__form-moreinfo__content {
    display: flex;
    flex-direction: column;
}

.header__form-moreinfo__content-box {
    display: none;
}

.header__form-moreinfo {
    margin-left: auto;
    margin-bottom: 15px;
    cursor: pointer;
}

.header__form-moreinfo.header__form-moreinfo--active i {
    transform: rotate(180deg);
}

.header__form-moreinfo span {
    display: block;
    color: gray;
    font-size: 12px;
}

.moreinfo__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.moreinfo__input {
    height: 40px;
    width: 400px;
    outline: none;
    padding: 7px 10px 7px 20px;
    resize: none;
    margin-left: 20px;
}

.moreinfo__label-checkbox {
    justify-content: flex-start;
}

.moreinfo__input-checkbox {
    width: 20px;
    height: 20px;
    margin-left: 38px;
}

.header__form-btn:hover {
    background-color: orange;
}

.header__form-bottomcontent {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.toltip__box {
    display: flex;
    position: relative;
    margin-bottom: 4px;
}

.tooltip {
    width: 12px;
    height: 12px;
    font-size: 12px;
    transition: all 0.4s;
}

.tooltip-text {
    position: absolute;
    bottom: 17px;
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    font-size: 12px;
    color: #ffff;
    background-color: darkgray;
    visibility: hidden;
    border: 2px solid grey;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.header__form-bottomcontent__label span {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}

.header__form-bottomcontent__input {
    height: 28px;
    width: 260px;
    outline: none;
    padding: 5px 6px 5px 6px;
    resize: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-question {
    background-color: rgb(216, 216, 216);
    padding: 20px;
    border: 1px solid orange;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    display: none;
}

.modal-question__text {
    margin-bottom: 20px;
}

.modal-question__btn {
    width: 100px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 3px;
    transition: all.3s;
    cursor: pointer;
}

.modal-question__btn + .modal-question__btn {
    margin-left: 50px;
}

.modal-question__btn:hover {
    background-color: orange;
}

.modal-content {
    background-color: rgb(216, 216, 216);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid orange;
    width: 80%;
    position: relative;
}

.close__modal {
    position: absolute;
    z-index: 10;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    right: 20px;
    top: 15px;
    cursor: pointer;
    z-index: 2;
}

.close__modal span {
    display: block;
    width: 38px;
    height: 2px;
    background-color: #000;
}

.close__modal span:first-child {
    transform: rotate(-39deg);
}

.close__modal span:nth-child(2) {
    transform: rotate(35deg);
}

.modal__title {
    font-weight: 700;
    padding-top: 40px;
    font-size: 56px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 100px;
    text-align: center;
}

.modal__title::after {
    display: block;
    content: "";
    height: 2px;
    width: 20%;
    margin: 0 auto;
    background-color: #000;
}

.modal-content__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.modal__list {
    padding: 20px;
    border: 1px solid orange;
}

.modal__item {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.modal__conclusion {
    text-align: center;
    font-size: 20px;
    padding-bottom: 40px;
}

.modal__conclusion:before {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    margin: 0 auto;
    background-color: #000;
    margin-bottom: 40px;
}
